:root {
    /* Style format MPG 19.05.2021*/
    --white: #ffffff;
    --black: #000000;
    --grey-dark: #777777;
    --grey: #a7a7a8;
    --grey-light: #eeeeee;
    --primary: #006c66;
    --primary-dark: #005555;

    --contrast-green-light: #c6d325;
    --contrast-blue-dark: #29485d;
    --contrast-blue-light: #00b1ea;
    --contrast-orange: #ef7c00;


    --contrast-blue-light-20: #00b1ea20;
    --contrast-blue-light-40: #00b1ea40;
    --contrast-blue-light-80: #00b1ea80;
    --contrast-blue-light-c0: #00b1eac0;
    --contrast-blue-light-e0: #00b1eae0;

    --text-color: var(--black);
    --background-color: var(--white);
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: var(--text-color);
    background-color: var(--background-color);
}
