.modal-error {
  min-width: 25em;
  /*! display: flex; */
  /*! flex-direction: column; */
}
.modal-error-description,
.modal-error-internal {
  margin: 0.75em 1em;
}
.modal-error-internal {
  white-space: pre;
  font-family: monospace;
}