.modal-manage-database {
  padding: 0.5em;
  min-width: 30em;
  position: relative;
}
.modal-manage-database p {
  margin: 0.5em 1em;
  font-style: italic;
  font-size: 0.9em;
}
.modal-manage-database h2 {
  margin: 0.5em 0;
  font-size: 1.1em;
}
.modal-manage-database-buttons {
  display: flex;
  flex-direction: row;
}
.modal-manage-database-buttons > * {
  margin: 1em 0.25em 0 !important;
}
.modal-manage-database button,
.modal-manage-database a {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color:inherit;
  width: 100%;
  margin: 1em 0 0;
  padding: 0.5em;
  font-size: 1em;
  background-color: var(--contrast-blue-light-40);
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.modal-manage-database button:hover,
.modal-manage-database a:hover {
  background-color: var(--contrast-blue-light-80);
}
.modal-manage-database button:disabled,
.modal-manage-database a:disabled {
  background-color: var(--grey-light);
  cursor: auto;
  color: var(--grey-dark);
}
.modal-manage-database-access {
  display: flex;
  flex-direction: row;
  background-color: var(--grey-light);
  margin: 0.25em;
  align-items: center;
}
.modal-manage-database-access > img {
  width: 2em;
  height: 2em;
}
.modal-manage-database-access > * {
  padding: 0.5em;
}
.modal-manage-database-access-name {
  flex-grow: 1;
  flex-shrink: 1;
}
img.modal-manage-database-access-button {
  cursor: pointer;
}
img.modal-manage-database-access-button:hover {
  background-color: var(--grey);
}
.modal-manage-database textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 5em;
  font-family: monospace;
}