.modal-add-person {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: auto;
  width: max-content;
  padding: 0.75em;
  min-width: 100%;
  box-sizing: border-box;
  height: 100%;
}
.modal-add-person > div {
  flex-grow: 0;
  flex-shrink: 0;
}
.modal-add-person-hint {
  padding: 0 0 0.5em;
  font-size: 0.8em;
}
div.modal-add-person-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: row;
  overflow: auto;
}
.modal-add-person-container > * {
  flex-grow: 2;
  flex-shrink: 2;
  min-width: max-content;
  width: 66%;
}
.modal-add-person-container .modal-add-person-roles {
  flex-grow: 1;
  flex-shrink: 1;
  width: 33%;
}
.modal-add-person-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 1em 0 0;
}
.modal-add-person-button {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--contrast-blue-light-40);
  padding: 0.25em;
  cursor: pointer;
}
.modal-add-person-button:hover {
  background-color: var(--contrast-blue-light-80);
}
.modal-add-person-role {
  background-color: var(--grey-light);
  margin: 0.5em 0.5em 0.5em 0;
  padding: 0.25em;
  text-align: center;
  cursor: pointer;
}
.modal-add-person-role:hover {
  background-color: var(--grey);
}
.modal-add-person-err {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--grey-dark);
}
.modal-add-person-preview {
  position: relative;
}
.modal-add-person-preview-name {
  position: absolute;
  background-color: var(--white);
  left: 0.5em;
  top: 0.2em;
  padding: 0 0.25em;
  color: var(--grey-dark);
}
.modal-add-person-preview-list {
  border: 0.2em solid var(--grey-light);
  padding: 0.5em;
  margin: 0.75em 0 0 0;
}
.modal-add-person-preview-list > div {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  padding: 0.25em 0;
}
.modal-add-person-preview-list > div:not(:last-child) {
  border-bottom: 0.1em solid var(--grey-dark);
}
.modal-add-person-preview-single {
  font-size: 0.85em;
}
.modal-add-person-preview-single-name {
  font-weight: bold;
}
.modal-add-person-preview-single-name:after {
  content: ":";
  margin: 0 0.5em 0 0;
}
.modal-add-person-preview-single-type {
  font-style: italic;
  flex-grow: 1;
}
.modal-add-person-preview-icon,
.modal-add-person-preview-icon-protected,
.modal-add-person-preview-icon-history {
  margin: 0 0 0 0.5em;
  width: 1em;
  position: relative;
}
.modal-add-person-preview-icon,
.modal-add-person-preview-icon-protected img,
.modal-add-person-preview-icon-history img {
  height: 1em;
}