.modal-file {
  margin: 0.5em 1em;
}
.modal-file-info-box {
  min-width: 25em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0.5em 0;
}
.modal-file-info-icon {
  padding: 0.5em 0.5em 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-file-info-icon img {
  width: 5em;
}
.modal-file-info-name {
  font-size: 1.3em;
  color: var(--primary);
}
.modal-file-info-name .utils-database {
  display: inline-block;
  font-size: 0.55em;
  transform: translateY(-0.3em);
  margin-left: 1em;
}
.modal-file-info-lines {
  display: table;
  margin: 0.5em 0;
}
.modal-file-info-line {
  display: table-row;
}
.modal-file-info-line > * {
  display: table-cell;
}
.modal-file-info-line-name {
  font-weight: bold;
  padding: 0 0.5em 0 0;
}
.modal-file-info-line-name:after {
  content: ":";
}
.modal-file-link-list {
  display: flex;
  margin: 0.5em 0;
  flex-direction: row;
}
.modal-file-link-list .modal-file-link {
  margin: 0 0.5em;
}
.modal-file-history {
  display: table;
  width: 100%;
}
.modal-file-history-entry {
  display: table-row;
}
.modal-file-history-entry:hover {
  background-color: var(--grey-light);
}
.modal-file-history-entry > * {
  display: table-cell;
  white-space: nowrap;
}
.modal-file-history-entry:not(:last-child) > * {
  border-bottom: 0.1em solid var(--grey-dark);
}
.modal-file-history-date {
  width: 100%;
  padding: 0.1em 0.25em;
}
.modal-file-history-button {
  padding: 0.1em 0.5em;
}
.modal-file-info-preview-audio {
  width: 100%;
}
