.notification-area {
  position: absolute;
  right: 0;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.notification {
  overflow: hidden;
  box-sizing: border-box;
}
.notification-close {
  animation-name: notification-close;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}
.notification-inner {
  background-color: var(--grey);
  margin: 0.5em 1em 0.5em 0;
  box-shadow: 0.25em 0.25em 0.5em var(--grey);
  width: 15em;
  border: 0.1em solid var(--grey);
}
.notification-main {
  display: flex;
  flex-direction: row;
}
.notification-image {
  width: 2em;
  margin: 0.5em 0 0.5em 0.5em;
}
.notification-content {
  flex-grow: 1;
  padding: 0.5em;
}
.notification-title {
  font-size: 1.1em;
  overflow-wrap: anywhere;
}
.notification-description {
  font-size: 0.8em;
  overflow-wrap: anywhere;
}
.notification-progress {
  position: relative;
  margin: 0 0.5em 0.5em;
  height: 0.5em;
  border: 0.1em solid var(--grey-light);
  overflow: hidden;
}
.notification-progress-inner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: var(--grey-light);
}
.notification-progress-undefined .notification-progress-inner {
  width: 50%;
  left: unset;
  animation-name: notification-progress-undefined;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes notification-progress-undefined {
  from {
    left: -50%;
  }
  to {
    left: 100%;
  }
}
@keyframes notification-close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    height: 0;
  }
}