.pane-special-missing-data {
  max-width: 35em;
  margin: 2em auto;
}
.pane-special-missing-data img {
  width: 10em;
  height: 10em;
  margin: 0 auto 2em;
  display: block;
}
.pane-special-missing-data button {
  display: block;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  color:inherit;
  width: 100%;
  margin: 1em 0 0;
  padding: 0.5em;
  font-size: 1em;
  background-color: var(--contrast-blue-light-40);
  border: none;
  font-family: inherit;
  cursor: pointer;
}
.pane-special-missing-data button:hover {
  background-color: var(--contrast-blue-light-80);
}