.pane-interview {
  margin: 1em;
  position: relative;
}
.pane-interview-title,
.pane-interview-title-2 {
  font-size: 1.4em;
  color: var(--primary);
}
.pane-interview-title > div {
  display: inline-block;
}
.pane-interview-title-id {
  font-size: 0.6em;
  margin-left: 1em;
  color: var(--black);
}
.pane-interview-title-id:before {
  content: "#";
}
.pane-interview-title .utils-database {
  font-size: 0.5em;
  transform: translateY(-0.2em);
  margin-left: 1em;
}
.pane-interview-persons-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.pane-interview-persons-entry,
.pane-interview-persons-add {
  margin: 1em;
  text-align: center;
  background-color: var(--grey-light);
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
}
.pane-interview-persons-entry:hover,
.pane-interview-persons-add:hover {
  background-color: var(--grey);
}
.pane-interview-persons-img img,
.pane-interview-persons-add img {
  width: 5em;
  margin: 0 1em 1em;
}
.pane-interview-persons-id {
  font-size: 0.8em;
}
.pane-interview-persons-add {
  display: flex;
  justify-content: center;
  align-items: center;
}