.pane-person-files-tree {
}
.pane-person-files-node {
  display: flex;
}
.pane-person-files-node-opener {
  position: relative;
  width: 2em;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.pane-person-files-node-opener img {
  margin: 0.9em 0 0 0;
  width: 1.1em;
  cursor: pointer;
}
.pane-person-files-node-opener img:hover {
  background-color: var(--grey);
}
.pane-person-files-node-container {
  flex-grow: 1;
}
.pane-person-files-node-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
}
.pane-person-files-node-info:hover {
  background-color: var(--grey-light);
}
.pane-person-files-node-icon {
  flex-shrink: 0;
  flex-grow: 0;
  width: 2em;
  margin: 0 0.5em 0 0;
}
.pane-person-files-node-name {
  flex-grow: 1;
  position: relative;
  margin: 0 0.5em 0 0;
}
.pane-person-files-node-name img {
  position: relative;
  display: inline-block;
  height: 1.2em;
  margin-left: 0.5em;
  transform: translateY(0.2em);
}
.pane-person-files-node-name input {
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}
input.pane-person-files-node-invalid {
  border-color: red;
  border-style: double;
}

.pane-person-files-node-ok img,
.pane-person-files-node-cancel img {
  width: 1.5em;
  cursor: pointer;
  padding: 0.25em;
}

.pane-person-files-node-ok img:hover,
.pane-person-files-node-cancel img:hover {
  background-color: var(--grey);
}

.pane-person-files-node-menu {
  display: block;
  width: 2em;
  height: 2em;
  margin: 0 0.2em;
  background-image: url("/img/svgrepo/essential-set-2/more-125998.svg");
  cursor: pointer;
}
.pane-person-files-node-menu:hover {
  background-color: var(--contrast-blue-light-80);
}
.pane-person-file-draged-item {
  position: fixed;
  top: 0;
  left: 0;
}
.pane-person-file-draged-item .pane-person-files-node-info {
  background-color: var(--white);
  box-shadow: 0.5em 0.5em 1em var(--grey);
}
.pane-person-file-draged-item .pane-person-files-node-name {
  max-width: 30em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.pane-person-file-draged-item .pane-person-files-node-changed,
.pane-person-file-draged-item .pane-person-files-node-menu {
  display: none;
}
.pane-person-files-tree .pane-person-files-node-dragged {
  opacity: 0.25;
}
.pane-person-files-node-target {
  background-color: var(--contrast-green-light) !important;
}