.utils-database {
  background-color: var(--contrast-orange);
  margin-left: 0.5em;
  padding: 0.25em 0.5em;
  border-radius: 1em;
  font-size: 0.7em;
  color: var(--white);
}

.utils-links .utils-link {
  margin: 0 0.5em;
}
.utils-link {
  display: inline;
  color: var(--contrast-blue-light);
  cursor: pointer;
  text-decoration: none;
}
.utils-link:hover {
  text-decoration: underline;
  color: var(--contrast-blue-light-c0);
}
